.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 2rem;
  flex-grow: 1;
  flex-shrink: 1;
}

.card__wrapper {
  border: 1px solid;
  margin: 0 0.8rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card--align-center {
  text-align: center;
}

.card--align-right {
  text-align: right;
}

.card__inner {
  padding: 2rem;
}

.card__header {
  border-bottom: 1px solid;
}

.card__title {
  margin: 0.4rem 1.2rem;
}
